<template>
  <button type="button" @click="employer = 0">Employee</button>
  <button type="button" @click="employer = 1">Employer</button>
  <p v-if="employer == 0">
    Currently selected: Employee<br>
    Please enter minimum salary:
  </p>
  <p v-else>
    Currently selected: Employer<br>
    Please enter maximum offer:
  </p>
  <div v-if="!suggestionExist(employer)">
    <form @submit.prevent="addSuggestion">
      <input
          type="number"
          placeholder="pay"
          v-model="value"
      />
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div v-else><p>Already submitted!</p></div>
  <AppResult v-if="suggestionExist(0) && suggestionExist(1)"/>
</template>
<script>

import AppResult from "@/components/AppResult";

export default {
  name: "AppForm",
  components: {AppResult},
  data() {
    return {
      value: null,
      employer: 0
    }
  },
  methods: {
    addSuggestion: function () {
      const {value, employer} = this;
      this.$store.commit("addSuggestion", {value, employer});
      this.suggestion = 0;
      this.employer = 0;
    },
    suggestionExist(employer) {
      return this.$store.getters.getSuggestion(employer);
    }
  },
}
</script>