<template>
    <div class="modal">
    <p v-if="employee <= employer">Success</p>
    <p v-else>Failure</p>
      <p>minimum salary: {{employee}}<br>
      maximum offer: {{employer}}</p>
      <p>
        temperature: {{ temp }}°C
      </p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AppResult",
  data() {
    return {
      temp: 0
    }
  },
  computed: {
    employer() {
      return this.$store.getters.getSuggestion(1)['value'];
    },
    employee() {
      return this.$store.getters.getSuggestion(0)['value'];
    }
  },
  created() {
    // The API key would normally be hidden in some kinf of .env file, which in this project would be generated from secrets, but since this is key to weather data, that won' t leak any sensitive info and I don' t plan on keeping account there I skipped this part...
    axios.get('https://api.openweathermap.org/data/2.5/weather', {
      params: {
        q: 'Prague',
        appid: '9d1d467ed47b8c05d08f03abec1e13e6',
        units: 'metric'
      }
    }).then(Response => {
      this.temp = Response.data.main.temp;
    })
  }
}
</script>

<style scoped>
.modal {
  position: absolute;
  width: max-content;
  height: max-content;
  background: lightgreen;
  padding: 1em;
  left: 50%;
  top: 1em;
  transform: translate(-50%, 0);
}

</style>